:host {
  .user-card {
    margin: 10px auto;
  }

  .user-header-image {
    background-image: url('../../../../../assets/no-avatar.jpeg');
    background-size: cover;
  }
  .user-big-image {
    background-image: url('../../../../../assets/no-background.jpeg');
    background-size: cover;
    min-height: 250px;
    background-position: center;
  }
}
