<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo"></div>
  <div class="logo-title">{{title}}</div>
  <span class="space"></span>
</mat-toolbar>
<div class="login-area">
  <mat-card class="login-card">
    <span *ngIf="isLoginShow">
      <sfs-user-login></sfs-user-login>
    </span>
    <span *ngIf="isRegisterShow">
      <sfs-user-registration></sfs-user-registration>
    </span>
    <button mat-stroked-button  *ngIf="!isLoginShow" color="basic" (click)="showLogin()">Login</button>
    <button mat-stroked-button  *ngIf="!isRegisterShow" color="primary" (click)="showRegister()">Register</button>
  </mat-card>
</div>
