.login-card {
  max-width: 350px;
  min-width: 100px;
  button {
    width: 100%;
  }
}

.login-area {
  height: calc(100% - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}
