:host {
  .user-card {
    max-width: 400px;
    margin: 10px auto;
  }

  .user-header-image {
    background-image: url('../../../assets/demo_avatar.jpg');
    background-size: cover;
  }
  .user-big-image {
    background-image: url('../../../assets/duck.jpg');
    background-size: cover;
    min-height: 250px;
    background-position: center;
  }
}
