<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <strong>{{group.title}}</strong>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <table mat-table [dataSource]="group.subjects" class="words-table">
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Word/Phrase</th>
      <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
    </ng-container>
    <ng-container matColumnDef="ru">
      <th mat-header-cell *matHeaderCellDef> Translation/Meaning </th>
      <td mat-cell *matCellDef="let element"><markdown>{{element.ru}}</markdown></td>
    </ng-container>
    <ng-container matColumnDef="en">
      <th mat-header-cell *matHeaderCellDef> Meaning in English </th>
      <td mat-cell *matCellDef="let element"> <markdown>{{element.en}}</markdown></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-expansion-panel>
