<mat-drawer-container class="container" [hasBackdrop]="true">
  <mat-drawer class="side-navigation" #drawer [opened]="sidebar.opened" (closedStart)="watchClose()" mode="over">

    <button color="primary" mat-flat-button [routerLink]="'/'" (click)="toggleSidebar()">English dictionary</button>
    <button color="primary" mat-flat-button [routerLink]="'/transition-words'" (click)="toggleSidebar()">Transition words</button>
    <button color="primary" mat-flat-button [routerLink]="'/glossary'"(click)="toggleSidebar()">Glossary of terms</button>
    <button color="primary" mat-flat-button [routerLink]="'/js-interview-questions'"(click)="toggleSidebar()">JS interview questions</button>

    <button color="primary" mat-flat-button [routerLink]="'/free-dictionary'"(click)="toggleSidebar()">Free Dictionary</button>

    <div class="app-version">Shell for study <br> (SFS) <br> {{version}}</div>

  </mat-drawer>

  <mat-drawer-content (contextmenu)="onRightClick($event)">
  <div style="visibility: hidden; position: fixed;"
    [style.left.px]="menuX"
    [style.top.px]="menuY"
    [matMenuTriggerFor]="settingsMenu"></div>
    <mat-menu  [style.position]="'absolute'" [style.left.px]="menuX" [style.top.px]="menuY"   #settingsMenu>
      <ng-template matMenuContent let-item="item">
      <menu mat-menu-item (click)='searchInGoogle()'>Search in Google: {{item}}</menu>
      <menu mat-menu-item (click)='searchInOxford()'>Search in Oxford dictionary: {{item}}</menu>
      <menu mat-menu-item (click)='translateToRussian()'>Translate it to russian: {{item}}</menu>
      </ng-template>
    </mat-menu>
    <router-outlet></router-outlet>
  </mat-drawer-content>


</mat-drawer-container>

