<mat-drawer-container class="container" [hasBackdrop]="true">
  <mat-drawer class="side-navigation" #drawer [opened]="sidebar.opened" (closedStart)="watchClose()" mode="over">

    <button color="primary" mat-flat-button [routerLink]="'/'" (click)="toggleSidebar()">English dictionary</button>
    <button color="primary" mat-flat-button [routerLink]="'/glossary'"(click)="toggleSidebar()">Glossary of terms</button>
    <button color="primary" disabled mat-flat-button [routerLink]="'/free-dictionary'"(click)="toggleSidebar()">Free Dictionary</button>

    <div class="app-version">Words and terms learning shell <br> (WATLS) <br> {{version}}</div>

  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

