<div class="form-layout">
  <div class="user-header-image"></div>
  <input type="file" class="avatar-input" (change)="onFileSelected($event)" #fileUpload>
  <div class="avatar-upload">
    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
      <mat-icon>upload</mat-icon>
    </button>
  </div>
  <form [formGroup]="profileSettingsForm" (ngSubmit)="sendFormData(profileSettingsForm)">
    <mat-form-field class="form-field">
      <mat-label>First Name</mat-label>
      <input matInput inputmode="text" placeholder="Type first name" formControlName="firstName">
      <mat-error>First Name is required</mat-error>
      <mat-error *ngIf="(profileSettingsForm.get('firstName'))?.errors?.required">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Last Name</mat-label>
      <input matInput inputmode="text" placeholder="Type last name" formControlName="lastName">
      <mat-error>Last Name is required</mat-error>
      <mat-error *ngIf="(profileSettingsForm.get('lastName'))?.errors?.required">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Status</mat-label>
      <input matInput type="text" placeholder="Type password" formControlName="status">
      <mat-error>Status is required</mat-error>
      <mat-error *ngIf="(profileSettingsForm.get('status'))?.errors?.required">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Description</mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="description" #autosize="cdkTextareaAutosize"></textarea>
      <mat-error>Description is required</mat-error>
      <mat-error *ngIf="(profileSettingsForm.get('description'))?.errors?.required">
        This field is required
      </mat-error>
    </mat-form-field>
    <div class="form-actions">
      <button class="fill" mat-flat-button color="primary" type="submit"
        [disabled]="!profileSettingsForm.valid">Save</button>
    </div>
  </form>
</div>
<div class="form-layout">
  <form [formGroup]="languageForm">
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Language</mat-label>
      <mat-select formControlName="select">
        <mat-option *ngFor="let language of languages" [value]="language.value">
          {{language.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<button mat-raised-button [routerLink]="backToProfileLink">Back to profile</button>
