<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo"></div>
  <div class="logo-title">{{title}}</div>
  <span class="space"></span>
  <sfs-user-button></sfs-user-button>
</mat-toolbar>
<div class="bibliography-area">
  <mat-card *ngFor="let item of linksList" class="bibliography-card">
   <mat-card-title>{{item.header}}</mat-card-title>
   <mat-card-subtitle>{{item.title}}</mat-card-subtitle>
    <mat-card-content>
      <p>
        {{item.description}}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <a [href]="item.url" target="_blank" mat-button>Check it</a>
    </mat-card-actions>
  </mat-card>
</div>
