.bibliography-area {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  .bibliography-card {
    margin: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .bibliography-area {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media screen and (max-width: 850px) {
  .bibliography-area {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 475px) {
  .bibliography-area {
    grid-template-columns: 1fr;
  }
}
