.bibliography-area {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

  .bibliography-card {
    margin: 20px;
  }
}
