<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo"></div>
  <div class="logo-title">{{title}}</div>
  <span class="space"></span>
  <sfs-user-button></sfs-user-button>
</mat-toolbar>
<div>
  <div class="cards-container">
    <mat-card class="dashboard-card" [routerLink]="item.path"  *ngFor="let item of items">
      <sfs-icon [icon]="item.icon"></sfs-icon>
      <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
      </mat-card-header>
    </mat-card>


  </div>
