:host {

  .dashboard-area {
    padding-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .dashboard-content {
    display: flex;
    flex-direction: row;
    width: 860px;
    justify-content: center;
  }

  sfs-user-profile {
    min-width: 500px;
    padding-right: 10px;
  }

  sfs-icon {
    max-width: 40px;
  }

  $card-bg-color: #ffffff;

  .title {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  .dashboard-card {
    margin-top: 10px;
    background-color: $card-bg-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;
    max-height: 50px;
    min-width: 300px;
  }
  .dashboard-card:hover {
    background-color: #e7e7e7;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
  }

  .cards-container > .dashboard-card {
    margin: 6px;
  }

  @media (max-width: 860px) {
    .dashboard-content {
      flex-direction: column-reverse;
    }

    .cards-container {
      width: 100%;
    }
  }
  @media (max-width: 420px) {
    .dashboard-content {
      flex-direction: column;
    }
    .dashboard-card {
      width: 100%;
    }
 }
}
