<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo"></div>
  <div class="logo-title">{{title}}</div>
  <span class="space"></span>
  <sfs-user-button></sfs-user-button>
</mat-toolbar>
<div>
<mat-tab-group mat-align-tabs="start">
  <mat-tab label="User Login">
    <sfs-user-login [formData]="data2" (formDataEmitter)="loginEmitter($event)" ></sfs-user-login>
    <button mat-raised-button (click)="checkAuth()" color="primary">Check auth request</button>
    <button mat-raised-button (click)="getProfile()" color="primary">getProfile</button>

    <button mat-raised-button (click)="logout()" color="primary">Logout</button>
    <button mat-raised-button (click)="refresh()" color="primary">Refresh</button>


  </mat-tab>
  <mat-tab label="User Registration">
    <sfs-user-registration [formData]="data" (formDataEmitter)="formDataEmitter($event)"></sfs-user-registration>
  </mat-tab>
  <!-- <mat-tab label="User Restore Password">
    <sfs-user-restore-password></sfs-user-restore-password>
  </mat-tab> -->
</mat-tab-group>
