<mat-toolbar color="primary" class="toolbar">
  <div class="logo"></div>
  <div class="logo-title">Dictionary <span class="app-version">{{version}}</span></div>
  <button (click)="setDictView(viewsTypes.cards)" mat-icon-button aria-label="Show words as cards" matTooltip="Show words as cards">
    <mat-icon>view_stream</mat-icon>
  </button>
  <button (click)="setDictView(viewsTypes.table)" mat-icon-button aria-label="Show words as a table" matTooltip="Show words as a table">
    <mat-icon>table_chart</mat-icon>
  </button>
  <button (click)="setDictView(viewsTypes.fakeFlash)" mat-icon-button aria-label="Fake flash cards" matTooltip="Fake flash cards">
    <mat-icon>flash_on</mat-icon>
  </button>
  <span class="spacer"></span>
  <a [href]="fileUrl" [download]="fileName" (click)="downloadCollection()" mat-icon-button aria-label="download collection" matTooltip="Download collection">
    <mat-icon>cloud_download</mat-icon>
  </a>
  <input #collectionInput hidden="true" type="file" onclick="this.value=null" (change)="collectionInputChange($event)" accept=".dict"/>
  <button mat-icon-button (click)="collectionInput.click()"><mat-icon>cloud_upload</mat-icon></button>
</mat-toolbar>
<mat-tab-group *ngIf="viewType !== viewsTypes.fakeFlash">
  <mat-tab [label]="item.title" *ngFor="let item of dictionary.sections">
    <ng-container *ngFor="let group of item.groups">
      <ng-container *ngIf="viewType === viewsTypes.table">
        <span class="group-title">{{group.title}}</span>
        <table mat-table [dataSource]="group.subjects" class="words-table">
          <ng-container matColumnDef="subject">
            <th mat-header-cell *matHeaderCellDef> Word/Phrase</th>
            <td mat-cell *matCellDef="let element"> {{element.subject}} </td>
          </ng-container>
          <ng-container matColumnDef="ru">
            <th mat-header-cell *matHeaderCellDef> Translation/Meaning </th>
            <td mat-cell *matCellDef="let element"> {{element.ru}} </td>
          </ng-container>
          <ng-container matColumnDef="en">
            <th mat-header-cell *matHeaderCellDef> Meaning in English </th>
            <td mat-cell *matCellDef="let element"> {{element.en}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </ng-container>
      <ng-container *ngIf="viewType === viewsTypes.cards">
        <span class="group-title">{{group.title}}</span>
        <hr>
        <div class="cards-container">
          <mat-card class="word-card" *ngFor="let subject of group.subjects">
            <mat-card-header>
              <mat-card-title>{{subject.subject}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{subject.ru}}
              </p>
            </mat-card-content>
            <mat-card-content>
              <p>
                {{subject.en}}
              </p>
            </mat-card-content>
          </mat-card>

        </div>

      </ng-container>

    </ng-container>

  </mat-tab>
</mat-tab-group>
<div (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')" *ngIf="viewType === viewsTypes.fakeFlash" class="fake-flash-card-view">
  <mat-card  class="flash-card">
    <mat-card-header>
      <mat-card-title>{{currentFlashCard.subject}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{currentFlashCard.ru}}
      </p>
    </mat-card-content>
    <mat-card-content>
      <p>
        {{currentFlashCard.en}}
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="previousFlashCard()">Previous</button>
      <button mat-button (click)="nextFlashCard()" >Next</button>
    </mat-card-actions>
  </mat-card>
</div>
