:host{

  $card-bg-color: #e2e3ae;

  .toolbar {
    position: fixed;
    z-index: 200;
    top: 0
  }

  .tabs-area {
    margin-top: 64px;
  }



  .spacer {
    flex:1 1 auto
  }

  .group-title {
    margin-top: 20px;
    margin-left: 25px;
    font-size: 28px;
    text-decoration: underline;
    min-height: 40px;
    display: inline-block;
  }


  .logo-title {
    margin-left: 5px;
  }

  @media (max-width: 320px) {
    .word-card {
      width: 100%;
    }
 }


}

