<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo"></div>
  <div class="logo-title">{{title}}</div>
  <button (click)="setDictView(viewsTypes.cards)" mat-icon-button aria-label="Show words as cards" matTooltip="Show words as cards">
    <mat-icon>view_stream</mat-icon>
  </button>
  <button (click)="setDictView(viewsTypes.table)" mat-icon-button aria-label="Show words as a table" matTooltip="Show words as a table">
    <mat-icon>table_chart</mat-icon>
  </button>
  <button (click)="setDictView(viewsTypes.fakeFlash)" mat-icon-button aria-label="Fake flash cards" matTooltip="Fake flash cards">
    <mat-icon>flash_on</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openMore()"><mat-icon>more_vert</mat-icon></button>
</mat-toolbar>
<mat-tab-group *ngIf="viewType !== viewsTypes.fakeFlash" class="tabs-area">
  <mat-tab [label]="item.title" *ngFor="let item of dictionary.sections">
    <ng-container *ngFor="let group of item.groups">
      <app-table-view [group]="group" *ngIf="viewType === viewsTypes.table"></app-table-view>
      <app-cards-view  [group]="group" *ngIf="viewType === viewsTypes.cards"></app-cards-view>
    </ng-container>
  </mat-tab>
</mat-tab-group>
<div (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')" *ngIf="viewType === viewsTypes.fakeFlash" class="fake-flash-card-view">
  <mat-card  class="flash-card">
    <mat-card-header>
      <mat-card-title>{{currentFlashCard.subject}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p markdown [data]="currentFlashCard.ru">
      </p>
    </mat-card-content>
    <mat-card-content>
      <p markdown [data]="currentFlashCard.en">
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="previousFlashCard()">Previous</button>
      <button mat-button (click)="nextFlashCard()" >Next</button>
    </mat-card-actions>
  </mat-card>
</div>
