:host {

  $card-bg-color: #e2e3ae;

  .word-card {
    width: 350px;
    margin: 20px;
    background-color: $card-bg-color;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

}
