<div class="form-layout">
  <form [formGroup]="restorePasswordForm" (ngSubmit)="sendFormData(restorePasswordForm)">
    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Type email" formControlName="email">
      <mat-error>Email is required</mat-error>
      <mat-error *ngIf="(restorePasswordForm.get('email'))?.errors?.required">
        This field is required
      </mat-error>
      <mat-error *ngIf="(restorePasswordForm.get('email'))?.errors?.email">
        It should be email
      </mat-error>
    </mat-form-field>
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!restorePasswordForm.valid">Submit</button>
    </div>
  </form>
</div>
<div>{{ restorePasswordForm.value | json }}</div>
