
  <div class="search-area">

    <mat-form-field class="search-field" appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput type="text" [formControl]="searchControl">
      <button *ngIf="searchControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="searchControl.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </div>

  <div class="no-results-msg" *ngIf="result.length <= 0">
    This is experimantal English Dictionary. It uses <a href="https://dictionaryapi.dev/" target="_blank">Free Dictionary API</a>. Type a word in the search bar to get the result
  </div>

  <div class="meaning-card" *ngFor="let item of result">
    <div><span class="header">{{ item.word }}</span> <span class="phonetic">   / {{ item.phonetic }} /</span>  </div>
    <div *ngFor="let phoneticItem of item.phonetics">
        <audio *ngIf="phoneticItem.audio" controls>
          <source [src]="phoneticItem.audio" type="audio/mpeg">
        Your browser does not support the audio element.
        </audio>
      </div>
      <hr>

      <div class="origin"><strong>Origin:</strong> {{ item.origin }} </div>
    <div *ngFor="let meaning of item.meanings" class="meaning-block">
      <div class="part-of-speech"><li>{{meaning.partOfSpeech}}</li></div>
      <div class="definition-block" *ngFor="let definition of meaning.definitions">
        <div class="definition-block-line" *ngIf="definition.definition">
          <strong>Definition:</strong> {{definition.definition}}
        </div>
        <div class="definition-block-line" *ngIf="definition.example">
          <strong>Example:</strong> {{definition.example}}
        </div>
        <div class="definition-block-line" *ngIf="definition.synonyms.length > 0">
          <strong>Synonyms:</strong>
          <mat-chip-list>
            <span *ngFor="let syn of definition.synonyms">
              <mat-chip (click)="instantSearch(syn)">{{syn}}</mat-chip>
            </span>
          </mat-chip-list>
        </div>
        <div class="definition-block-line" *ngIf="definition.antonyms.length > 0">
          <strong>Antonyms:</strong>
          <mat-chip-list>
            <span *ngFor="let ant of definition.antonyms">
              <mat-chip (click)="instantSearch(ant)">
                {{ant}}
              </mat-chip>
            </span>
          </mat-chip-list>
        </div>
      </div>
    </div>
    <hr>
  </div>
