
<div (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')" class="fake-flash-card-view">
  <mat-card  class="flash-card">
    <mat-card-header>
      <mat-card-title>{{currentFlashCard.subject}}</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="currentFlashCard.ru">
      <p markdown [data]="currentFlashCard.ru">
      </p>
    </mat-card-content>
    <mat-card-content *ngIf="currentFlashCard.en">
      <p markdown [data]="currentFlashCard.en">
      </p>
    </mat-card-content>
    <mat-card-content *ngIf="currentFlashCard.es">
      <p markdown [data]="currentFlashCard.es">
      </p>
    </mat-card-content>
    <mat-card-content *ngIf="currentFlashCard.uk">
      <p markdown [data]="currentFlashCard.uk">
      </p>
    </mat-card-content>
    <mat-card-content *ngIf="currentFlashCard.be">
      <p markdown [data]="currentFlashCard.be">
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="previousFlashCard()">Previous</button>
      <button mat-button (click)="nextFlashCard()" >Next</button>
    </mat-card-actions>
  </mat-card>
</div>
