:host {
  $card-bg-color: #e2e3ae;

  .fake-flash-card-view {
    width: 100%;
    display: inline-flex;
    height: 100%;
    align-items: center;

    .flash-card {
      width: 400px;
      margin: 20px auto;
      background-color: $card-bg-color;
      height: fit-content;
    }
  }
  @media (max-width: 320px) {

    .fake-flash-card-view {
      width: 100%;
      .flash-card {
        margin: 0;
        width: 100%;
      }
     }
 }
}
