:host {

  $card-bg-color: #e2e3ae;

  .title {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  .word-card {
    margin-top: 10px;
    background-color: $card-bg-color;
  }

  .cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

}
