<div class="mat-h2 title">{{group.title}}</div>
  <div class="cards-container">
    <mat-expansion-panel expanded="false" *ngFor="let subject of group.subjects">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <strong> {{subject.subject}}</strong>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card class="word-card">
        <mat-card-header>
          <mat-card-title>{{subject.subject}}</mat-card-title>
        </mat-card-header>
        <mat-card-content *ngIf="subject.ru">
          <p markdown [data]="subject.ru">
            {{subject.ru}}
          </p>
        </mat-card-content>
        <mat-card-content *ngIf="subject.en">
          <p markdown [data]="subject.en">
            {{subject.en}}
          </p>
        </mat-card-content>
        <mat-card-content *ngIf="subject.es">
          <p markdown [data]="subject.es">
            {{subject.es}}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
  </div>
