<ng-container *ngIf="show">
  <!-- <button mat-icon-button aria-label="Login popup" (click)="openLogin($event)" matTooltip="Login popup">
    <mat-icon>login</mat-icon>
  </button> -->
  <!-- <button mat-icon-button aria-label="Demo registration" [routerLink]="'/auth'"  matTooltip="Demo registration">
    <mat-icon>rowing</mat-icon>
  </button> -->
  <button mat-icon-button aria-label="Demo user" [routerLink]="'/u/demo'"  matTooltip="Demo user">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button aria-label="Demo user" (click)="logout($event)"  matTooltip="Demo user">
    <mat-icon>logout</mat-icon>
  </button>
</ng-container>
