<div class="form-layout">
  <form [formGroup]="loginForm" (ngSubmit)="sendFormData(loginForm)">
    <mat-form-field class="form-field">
      <mat-label>Name</mat-label>
      <input matInput inputmode="text" placeholder="Type name" formControlName="name">
      <mat-error>Name is required</mat-error>
      <mat-error *ngIf="(loginForm.get('name'))?.errors?.required">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Type password" formControlName="password">
      <mat-error>Password is required</mat-error>
      <mat-error *ngIf="(loginForm.get('password'))?.errors?.required">
        This field is required
      </mat-error>
    </mat-form-field>
    <div  class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Submit</button>
    </div>
  </form>
</div>
